<section id="wish">

	<div ng-class="wish.bgWish()?'wish-empty':'wish-full'">
	<table ng-class="wish.bgWish()?'no-table':'table'">
	<caption>Обрані товари</caption>
		<tr>
			<th>Категорія</th>
			<th>Назва</th>
			<th>Ціна</th>
			<th></th>
			<th></th>
		</tr>
		<tr class="tr-centred" ng-repeat="itemElem in wish.wishLocal track by $index">
			<td>{{itemElem.category.name}}</td>
			<td>{{itemElem.name}}</td>
			<td>{{itemElem.price | currency:"₴"}}</td>
					<td>
				<img class="img_icon" src="{{itemElem.url}}">
				</td>
			<td>
				<button type="button" class="cross_ico" ng-click="wish.delete(itemElem)"></button>
			</td>
		</tr>
</table>
	</div>
</section>